name: CD

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        platform:
          - os_name: Linux-x86_64
            os: ubuntu-latest
            targets: x86_64-unknown-linux-gnu
            buildscript: ./scripts/build_linux.sh
          - os_name: Windows-x86_64
            os: windows-latest
            targets: x86_64-pc-windows-msvc
            buildscript: ./scripts/build_windows.sh
          - os_name: MacOS-arm64
            os: macos-latest
            targets: aarch64-apple-darwin,x86_64-apple-darwin
            buildscript: ./scripts/build_mac.sh

    runs-on: ${{ matrix.platform.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.platform.targets }}

      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/master' }}

      - name: Install mold linker
        uses: rui314/setup-mold@v1

      - name: Run build script
        run: ${{ matrix.platform.buildscript }} ${{ github.ref_name }}
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.platform.os_name }}
          path: dist/*
  release:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./artifacts
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          fail_on_unmatched_files: true
          files: ./artifacts/**/*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
